---
name: Publish to Container Registry

on:
  push:
    branches: ['master']

jobs:
  publish:
    name: Publish to Container Registry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.23'
      - uses: actions/checkout@v3
      - uses: ko-build/setup-ko@v0.6
      - run: ko build --bare
